project=Open SIMH
repository=https://github.com/open-simh/simh
version={{ utm_simh_version }}
commit={{ utm_simh_commit }}
source_url={{ utm_simh_archive_url }}
source_sha256={{ utm_simh_archive_sha256 }}
build_target=pdp11
build_options=NONETWORK=1
